{% extends 'student_base.html' %}

{% load static %}
{% block head_title %}Start-Learning{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'e_learning:home' %}" class="text-dark">Home</a>
      </li>
      <li class="breadcrumb-item" ><a href="{% url 'e_learning:my_subjects' %}" class="text-dark">My Subjects</a></li>
      <li class="breadcrumb-item active text-primary" ><a href="#">Table Content</a></li>
      <li class="breadcrumb-item active text-primary" ><a href=" ">{{subject_namez}}</a></li>
    </ol>
 </nav>
<div class="pl-3 pr-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7" style="border-right: 2px solid  #a4a0a0;">
                <h4 class="text-center text-primary" style="font-family: Times;"><b>{{subject_namez}}</b></h4>
                <h5 class="text-center text-primary" style="font-family: Times;"><b>{{class_object}}</b></h5><hr>
                <h5 class="mt-2 mb-3 text-center" style="font-family: Times;">Topic:<span class="text-primary text-capitalize" style="font-family: Times;" >&nbsp;{{open_content.topic}}</span></h5>
                <div class="card">
                  <div class="card-body" style="height:480px;
                  overflow-y: scroll; font-family: Times; color: #3e3838;  font-size: 20px;">
                    {{open_content.content | safe}}
                  </div>
                </div>
            </div>
            <div class="col-md-5">
              <h5 class="text-center"><i class="fa fa-video-camera" >&nbsp;<span class="text-primary">Video Lecture</span></i></h5>
              <div class="embed-responsive embed-responsive-4by3 hoverable">
                <video class="embed-responsive-item" controls>
                  <source src="{{ open_content.videos.url }}" type="video/mp4">
                </video>
              </div>
              <div class="mt-5">
                <h6 class="mt-2" style="font-family: Times; color: #3e3838;">Reference Books(Download)</h6>
                <a href="{{ open_content.attached_file.url}}" target="_blank">{{ open_content.attached_file }}</a>
              </div>
            </div>
            </div>
            <hr>
            <div class="row mt-5 mb-5">
                <div class="col-md-10">
                    <h4 class="text-dark" style="font-family: Times;">{{ comments.count }} comments</h4>
                    {% for comment in comments %}
                    <div class="comments">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="breadcrumb mt-3 border-left-primary" style="border-radius: 40px;background-color:#eeebeb;">
                              <div class="breadcrumb-item">
                                <h6 class="font-weight-bold" style="font-size: 15px;color: #428bca !important;">
                                <span class="text-capitalize"><img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" alt="..." style="height: 40px;width:40px;">&nbsp;{{ comment.name }}</span><span style="font-size: 13px; margin-left: 650px;"><i class="fas fa-clock"></i>&nbsp;{{ comment.created_on }}</span>
                                </h6>
                                <h6 class="text-dark ml-5" style="font-size: 15px;color:#373636 !important;">{{ comment.body | linebreaks }}
                                </h6>
                              </div>
                            </div>
                        </div>
                      </div>
                      {% if comment.replies.all%}
                        <h6 class="ml-5" style="font-family: Times;">Replies</h6>
                        {% for replay in comment.replies.all %}
                        <div class="row">
                          <div class="col-md-12">
                            <div class="ml-5 breadcrumb border-left-danger mt-1" style="border-radius: 40px;background-color: #f6f6f9;">
                              <div class="breadcrumb-item">
                                <h6 class="font-weight-bold" style="font-size: 12px; color: #428bca !important;">
                                <span class="text-capitalize"><img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" alt="..." style="height: 30px;width:30px;">&nbsp;{{ replay.name }}</span><span style="font-size: 12px; margin-left: 650px;"><i class="fas fa-clock"></i>&nbsp;{{ replay.created_on }}</span>
                                </h6>
                                <h6 class="text-dark ml-5" style="font-size: 13px !important;color: #373636 !important;">{{ replay.body | linebreaks }}
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                          <!--<p class="info ml-2"><span class="text-capitalize">{{ replay.name }}</span><br><small> <span class=" text-muted font-weight-normal">
                            {{ replay.created_on }}</span></small>{{ replay.body }}</p>
                          <p class="ml-5 text-primary">{{ replay.body }}</p>-->
                      {% endfor %}
                      {% else %}
                    {% endif %}
                    <div class="text-right pt-2">
                      <button class="btn btn-outline-default text-primary btn-sm shower mr-4 border-0" data-target="#demo" aria-controls="demo"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Reply
                      </button>
                      <button class="btn btn-outline-default btn-sm hidder border-0" data-target="#demo" aria-controls="demo"><i class="fas fa-close"></i>&nbsp;&nbsp;Close
                      </button> 
                    </div>
                    <div class="collapse" id="demo">
                    <h6 class="text-dark" style="font-family: Times;">Reply</h6>
                    <form action="." method="post">
                      {{ comment_form.name.as_hidden }}
                      {{ comment_form.email.as_hidden }}
                      {{ comment_form.body |as_crispy_field}}
                      <!--<textarea class="form-control" rows="3" placeholder="Reply"></textarea>-->
                        {% csrf_token %}
                        
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <div class="text-right">
                          <input class="btn btn-primary mt-1 btn-sm" type="submit" value="Reply">
                        </div>
                    </form>
                   </div>
                </div>
                {% endfor %}
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                  Your comment is awaiting moderation
                </div>
                {% else %}
                <h4 class="text-dark" style="font-family: Times; font-size: 20px;">Leave a comment</h4>
                <form method="post">
                  {{ comment_form.name.as_hidden }}
                  {{ comment_form.email.as_hidden }}
                  {{ comment_form.body |as_crispy_field}}
                  <!--<textarea class="form-control" rows="5" placeholder="Enter Your Comment"></textarea>-->
                  {% csrf_token %}
                  <div class="text-left mt-2">
                    <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                  </div>
                </form>
                {% endif %} 
              </div>
              <div class="col-md-2">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}